extends layout
block content
    h1 Your Tasks
    - if(docs.length)
        table
            tr
                th Task
                    each task in docs
                        tr
                            td #{task.task}
                            td
                                a(class='btn btn-primary', href="/tasks/#{task.id}/edit") Edit
                            td
                                form(method='delete', action="/tasks/#{task.id}/delete")
                                     button.btn.btn-primary(type='submit') Delete
    - else
        p You don't have any tasks!
    p
        a(href='tasks/new',class='btn btn-primary') Add a Task