doctype html
html
    head
        title!= title
        link(rel= 'stylesheet', href='http://apps.bdimg.com/libs/bootstrap/3.3.4/css/bootstrap.css')
    body
        section.container!= body
        block content
