<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel="stylesheet" href="/stylesheets/style.css">
  </head>
  <body>
    <h1></h1>
    <p>Welcome to </p>
    <h2>Form example
      <form method="post" action="/"></form>
      <fielset>
        <legend>Add a user</legend>
        <p>
          <label>First name</label>
        </p>
        <p>
          <label>Last name</label>
        </p>
        <p>
          <input type="submit" value="Save">
        </p>
      </fielset>
    </h2>
  </body>
</html>