doctype html
html
    head
        title 我的网站
        meta(http-equiv="Content-Type",content="text/html; charset=utf-8")
        link(type="text/css",rel="stylesheet",href="/css/style.css")
        script(src="/js/lib/jquery-1.8.0.min.js",type="text/javascript")
    body
        block content